name: luxembourg

on:
  workflow_dispatch:
  workflow_run:
    workflows: [start map builds]
    types:
      - completed

jobs:
  build-luxembourg:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Env
        run: |
          sudo apt-get update 
          sudo apt-get install wget openjdk-21-jre python3 pip
          pip install numpy

      - name: omsis-cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: osmosis
          key: osmsis-cache

      - name: omsis
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh setup_env.sh

      - name: Build
        run: |
          wget https://download.geofabrik.de/europe/luxembourg-latest.osm.pbf -O luxembourg.pbf
          python generate_map.py -i luxembourg.pbf -c LU -s 0000

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: austria
          path: ./*.map

