name: france

env:
  countrycode: FR

on:
  workflow_dispatch:
  workflow_run:
    workflows: [start map builds]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        maps:
          [
            {name: alsace, url: https://download.geofabrik.de/europe/france/alsace-latest.osm.pbf, state: "0100"},
            {name: aquitaine, url: https://download.geofabrik.de/europe/france/aquitaine-latest.osm.pbf, state: "0200"},
            {name: auvergne, url: https://download.geofabrik.de/europe/france/auvergne-latest.osm.pbf, state: "0300"},
            {name: basse-normandie, url: https://download.geofabrik.de/europe/france/basse-normandie-latest.osm.pbf, state: "0400"},
            {name: bourgogne, url: https://download.geofabrik.de/europe/france/bourgogne-latest.osm.pbf, state: "0500"},
            {name: bretagne, url: https://download.geofabrik.de/europe/france/bretagne-latest.osm.pbf, state: "0600"},
            {name: centre, url: https://download.geofabrik.de/europe/france/centre-latest.osm.pbf, state: "0700"},
            {name: champagne-ardenne, url: https://download.geofabrik.de/europe/france/champagne-ardenne-latest.osm.pbf, state: "0800"},
            {name: corse, url: https://download.geofabrik.de/europe/france/corse-latest.osm.pbf, state: "0900"},
            {name: franche-comte, url: https://download.geofabrik.de/europe/france/franche-comte-latest.osm.pbf, state: "1000"},
            {name: guadeloupe, url: https://download.geofabrik.de/europe/france/guadeloupe-latest.osm.pbf, state: "1100"},
            {name: guyane, url: https://download.geofabrik.de/europe/france/guyane-latest.osm.pbf, state: "1200"},
            {name: haute-normandie, url: https://download.geofabrik.de/europe/france/haute-normandie-latest.osm.pbf, state: "1300"},
            {name: ile-de-france, url: https://download.geofabrik.de/europe/france/ile-de-france-latest.osm.pbf, state: "1400"},
            {name: languedoc-roussillon, url: https://download.geofabrik.de/europe/france/languedoc-roussillon-latest.osm.pbf, state: "1500"},
            {name: limousin, url: https://download.geofabrik.de/europe/france/limousin-latest.osm.pbf, state: "1600"},
            {name: lorraine, url: https://download.geofabrik.de/europe/france/lorraine-latest.osm.pbf, state: "1700"},
            {name: martinique, url: https://download.geofabrik.de/europe/france/martinique-latest.osm.pbf, state: "1800"},
            {name: mayotte, url: https://download.geofabrik.de/europe/france/mayotte-latest.osm.pbf, state: "1900"},
            {name: midi-pyrenees, url: https://download.geofabrik.de/europe/france/midi-pyrenees-latest.osm.pbf, state: "2000"},
            {name: nord-pas-de-calais, url: https://download.geofabrik.de/europe/france/nord-pas-de-calais-latest.osm.pbf, state: "2100"},
            {name: pays-de-la-loire, url: https://download.geofabrik.de/europe/france/pays-de-la-loire-latest.osm.pbf, state: "2200"},
            {name: picardie, url: https://download.geofabrik.de/europe/france/picardie-latest.osm.pbf, state: "2300"},
            {name: poitou-charentes, url: https://download.geofabrik.de/europe/france/poitou-charentes-latest.osm.pbf, state: "2400"},
            {name: provence-alpes-cote-d-azur, url: https://download.geofabrik.de/europe/france/provence-alpes-cote-d-azur-latest.osm.pbf, state: "2500"},
            {name: reunion, url: https://download.geofabrik.de/europe/france/reunion-latest.osm.pbf, state: "2600"},
            {name: rhone-alpes, url: https://download.geofabrik.de/europe/france/rhone-alpes-latest.osm.pbf, state: "2700"},
          ]

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Env
        run: |
          sudo apt-get update 
          sudo apt-get install wget openjdk-21-jre python3 pip
          pip install numpy

      - name: omsis-cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: osmosis
          key: osmsis-cache

      - name: omsis
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh setup_env.sh

      - name: Build
        run: |
          wget ${{ matrix.maps.url }} -O out.pbf
          python generate_map.py -i out.pbf -c $countrycode -s ${{ matrix.maps.state }}

      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.workflow }}-${{ matrix.maps.name }}
          path: ./*.map

