name: germany

env:
  countrycode: DE

on:
  workflow_dispatch:
  workflow_run:
    workflows: [start map builds]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        maps:
          [
            {name: baden-wuerttemberg, url: https://download.geofabrik.de/europe/germany/baden-wuerttemberg-latest.osm.pbf, state: "0100"},
            {name: bayern, url: https://download.geofabrik.de/europe/germany/bayern-latest.osm.pbf, state: "0200"},
            {name: brandenburg, url: https://download.geofabrik.de/europe/germany/brandenburg-latest.osm.pbf, state: "0400"},
            {name: hamburg, url: https://download.geofabrik.de/europe/germany/hamburg-latest.osm.pbf, state: "0600"},
            {name: hessen, url: https://download.geofabrik.de/europe/germany/hessen-latest.osm.pbf, state: "0700"},
            {name: niedersachsen, url: https://download.geofabrik.de/europe/germany/niedersachsen-latest.osm.pbf, state: "0900"},
            {name: mecklenburg-vorpommern, url: https://download.geofabrik.de/europe/germany/mecklenburg-vorpommern-latest.osm.pbf, state: "0800"},
            {name: nordrhein-westfalen, url: https://download.geofabrik.de/europe/germany/nordrhein-westfalen-latest.osm.pbf, state: "1000"},
            {name: rheinland-pfalz, url: https://download.geofabrik.de/europe/germany/rheinland-pfalz-latest.osm.pbf, state: "1100"},
            {name: saarland, url: https://download.geofabrik.de/europe/germany/saarland-latest.osm.pbf, state: "1200"},
            {name: sachsen, url: https://download.geofabrik.de/europe/germany/sachsen-latest.osm.pbf, state: "1300"},
            {name: sachsen-anhalt, url: https://download.geofabrik.de/europe/germany/sachsen-anhalt-latest.osm.pbf, state: "1400"},
            {name: schleswig-holstein, url: https://download.geofabrik.de/europe/germany/schleswig-holstein-latest.osm.pbf, state: "1500"},
            {name: thueringen, url: https://download.geofabrik.de/europe/germany/thueringen-latest.osm.pbf, state: "1600"},
          ]

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Env
        run: |
          sudo apt-get update 
          sudo apt-get install wget openjdk-21-jre python3 pip
          pip install numpy

      - name: omsis-cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: osmosis
          key: osmsis-cache

      - name: omsis
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh setup_env.sh

      - name: Build
        run: |
          wget ${{ matrix.maps.url }} -O out.pbf
          python generate_map.py -i out.pbf -c $countrycode -s ${{ matrix.maps.state }}

      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.workflow }}-${{ matrix.maps.name }}
          path: ./*.map

