name: netherlands

on:
  workflow_dispatch:
  workflow_run:
    workflows: [start map builds]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        maps:
          [
            { name: Drenthe, geofabrik-url: https://download.geofabrik.de/europe/netherlands/drenthe-latest.osm.pbf, state: "0100"},
            { name: Flevoland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/flevoland-latest.osm.pbf, state: "0200"},
            { name: Friesland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/friesland-latest.osm.pbf, state: "0300"},
            { name: Gelderland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/gelderland-latest.osm.pbf, state: "0400"},
            { name: Groningen, geofabrik-url: https://download.geofabrik.de/europe/netherlands/groningen-latest.osm.pbf, state: "0500"},
            { name: Limburg, geofabrik-url: https://download.geofabrik.de/europe/netherlands/limburg-latest.osm.pbf, state: "0600"},
            { name: Noord-Brabant, geofabrik-url: https://download.geofabrik.de/europe/netherlands/noord-brabant-latest.osm.pbf, state: "0700"},
            { name: Noord-Holland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/noord-holland-latest.osm.pbf, state: "0800"},
            { name: Overijssel, geofabrik-url: https://download.geofabrik.de/europe/netherlands/overijssel-latest.osm.pbf, state: "0900"},
            { name: Utrecht, geofabrik-url: https://download.geofabrik.de/europe/netherlands/utrecht-latest.osm.pbf, state: "1000"},
            { name: Zeeland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/zeeland-latest.osm.pbf, state: "1100"},
            { name: Zuid-Holland, geofabrik-url: https://download.geofabrik.de/europe/netherlands/zuid-holland-latest.osm.pbf, state: "1200"},
          ]

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Env
        run: |
          sudo apt-get update 
          sudo apt-get install wget openjdk-21-jre python3 pip
          pip install numpy

      - name: omsis-cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: osmosis
          key: osmsis-cache

      - name: omsis
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh setup_env.sh

      - name: Build
        run: |
          wget ${{ matrix.maps.geofabrik-url }} -O out.pbf
          python generate_map.py -i out.pbf -c NL -s ${{ matrix.maps.state }}

      - name: "Upload Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: netherlands-${{ matrix.maps.name }}
          path: ./*.map

