name: lithuania

env:
  url: https://download.geofabrik.de/europe/lithuania-latest.osm.pbf
  countrycode: LT

on:
  workflow_dispatch:
  workflow_run:
    workflows: [start map builds]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Setup Env
        run: |
          sudo apt-get update 
          sudo apt-get install wget openjdk-21-jre python3 pip
          pip install numpy
          echo "freeing ~10gb of disk space"
          sudo rm -rf /usr/local/lib/android || true

      - name: omsis-cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: osmosis
          key: osmosis-cache

      - name: omsis
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh setup_env.sh

      - name: Build
        run: |
          wget -q "$url" -o tmp.pbf
          ./osmosis/osmconvert tmp.pbf -o=tmp.o5m
          ./osmosis/osmfilter tmp.o5m --keep="highway=* waterway=* landuse=* natural=* place=*" > tmp_filtered.o5m
          ./osmosis/osmconvert tmp_filtered.o5m -o=tmp_filtered.pbf
          rm tmp.pbf
          rm tmp.o5m
          /usr/bin/time -v python generate_map.py -i tmp_filtered.pbf -c $countrycode -s 0000

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.workflow }}
          path: ./*.map

